# Ignore compiled Python files
*.pyc

# Ignore the virtual environment directory
venv/

# Ignore log files
*.log

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore environment-specific files
.env

# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# Files and folder I don't want to publish
variables.py
monitor_screen_old.py
Old Images
current.png
reference.png